image:
  repository: ghcr.io/kunlecreates/frontend
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []

env:
  NEXT_PUBLIC_PRODUCT_API: "/api/product"

service:
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

ingress:
  enabled: true
  className: nginx
  host: shop.kunlecreates.org

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
