{{- if .Values.migration.createSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.migration.secretName | default (printf "%s-migration" .Chart.Name) | quote }}
type: Opaque
stringData:
{{- if .Values.migration.secretData }}
{{ toYaml .Values.migration.secretData | indent 2 }}
{{- else }}
  MIG_DB_USER: "migration"
  MIG_DB_PASSWORD: "change-me"
  DB_HOST: ""
  DB_PORT: ""
  DB_NAME: ""
{{- end }}
{{- end }}
