apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  labels:
    app.kubernetes.io/name: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: notification-service
  template:
    metadata:
      labels:
        app.kubernetes.io/name: notification-service
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      securityContext:
        runAsNonRoot: true
      containers:
        - name: notification-service
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.credentials.secretName }}
          envFrom:
            - secretRef:
                name: {{ .Values.credentials.secretName }}
          {{- end }}
          {{- if .Values.env }}
          env:
            {{- range $key, $val := .Values.env }}
            - name: {{ $key }}
              value: "{{ $val }}"
            {{- end }}
          {{- end }}
          ports:
            - containerPort: 8084
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /
              port: 8084
            initialDelaySeconds: 15
          readinessProbe:
            httpGet:
              path: /
              port: 8084
            initialDelaySeconds: 5
