apiVersion: v1
kind: Service
metadata:
  name: notification-service
  labels:
    app.kubernetes.io/name: notification-service
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: notification-service
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8084
      protocol: TCP
